
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#contents {
		width: 100%;
		display: table;
}

.row {
		display: table-row;
}

.buildingPane {
		width: 40%;
		display: table-cell;
}

.buttonsPane {
		width: 20%;
		display: table-cell;
}

#economy {
		background-color: #fdd;
}

#arms {
		background-color: #dfd;
}

.title {
		/*background-color: #ddf;*/
}

.econBuilding {
		width: 100%;
		padding-bottom: 8px;
}

.econBuild {
		float: left;
		display: inline-block;
}

.econBuilt {
		height: 100%;
		background-color: #ffa;
		text-align: center;
		margin: 0 auto;
		padding-left: 10px;
		display: inline-block;
}

.econBuiltSpacer {
		float: right;
		height: 100%;
		display: inline-block;
}

.buildButton {
		width: 40px;
		height: 40px;
		line-height: 40px;
		float: left;
		background-color: #7c8;
		border: 1px solid #666;
		font-size: x-large;
		font-weight: normal;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.buildButton.disabled {
		background-color: #999;
		cursor: default;
}

.buildButtonContent {
		width: 100%;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
}

.buildDesc {
		float: right;
		background-color: #faf;
}

.clear {
		clear: both;
}

.enabled {
		visibility: visible;
}

.disabled {
		visibility: visible;
}

.hidden {
		visibility: hidden;
}