
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#contents {
		width: 100%;
		height: 1500px;
		display: table;
		table-layout: fixed;
}

.row {
		display: table-row;
}

.pane {
		display: table-cell;
		vertical-align: top;
}

.build {
		width: 40%;
}

.buttons {
    width: 70px;
}

.opponent {
		width: 15%;
}

.cash {
		font-size: large;
}

.income {
		font-size: medium;
}

.label {
		color: #555;
}

.amount {
		font-weight: bold;
}

#economy {
		border-right: solid 3px gray;
		padding-right: 5px;
}

#arms {
		padding-left: 5px;
}

.decisionButton {
		position: relative;
		background-color: #efe;
    font-size: large;
    text-align: center;
		height: 40px;
		width: 200px;
    padding-top: 20px;
		margin-left: -70px;
		border: 1px solid black;
}

.buttonContainer {
		margin-top: 150px;
}

.attack {
		/*margin-top: 150px;*/
}

.peace {
		margin-top: 150px;
}

.rotate {

/* Safari */
-webkit-transform: rotate(90deg);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}

#opponentName {
		font-size: large;
		text-align: center;
		padding-bottom: 10px;
}

#opponentStatus {
		font-size: x-large;
		line-height: 120%;
}

.title {
		text-align: center;
}

.costLabel, .incomeLabel {
		color: #aaa;
		font-style: italic;
}

.econBuilding {
		width: 100%;
		padding-bottom: 8px;
}

.econBuild {
		float: left;
		max-width: 150px;
		min-width: 100px;
}

.econBuilt {
		text-align: left;
		padding-left: 8px;
		padding-right: 25px;
		overflow: auto;
}

.econBuiltSpacer {
		float: right;
		width: 0px;
		height: 100%;
}

.buildButton {
		width: 40px;
		height: 40px;
		line-height: 40px;
		float: left;
		margin-top: 4px;
		background-color: #aea;
		border: 1px solid #666;
		font-size: x-large;
		font-weight: normal;
}

.button {
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.buildButton.disabled {
		background-color: #ddd;
		cursor: default;
}

.buildButtonContent {
		width: 100%;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
}

.buildDesc {
		float: right;
		width: 80px;
		padding-left: 4px;
}

.clear {
		clear: both;
}

.enabled {
		visibility: visible;
}

.disabled {
		visibility: visible;
}

.hidden {
		visibility: hidden;
}

.econImage {
		position: absolute;
		z-index: 3;
}

.econCount {
		position: absolute;
		margin-left: 5px;
		margin-top: 20px;
		font-weight: bold;
		font-size: x-large;
		color: white;
    text-shadow:
    -1px -1px 0 #000,
    -1px 0px 0 #000,
    1px -1px 0 #000,
    1px 0px 0 #000,
    -1px 1px 0 #000,
    0px 1px 0 #000,
    1px 1px 0 #000,
    0px -1px 0 #000;
    z-index: 4;
}

#gameEndType {
	font-weight: bold;
	color: black;
}

#gameTimeRemaining {
	font-weight: bold;
  color: black;
}