#gameEnd {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  visibility: hidden;
  z-index: 20;
  background-color: rgba(0,0,0,0.1);
}

#gameEndContent {
	width: 80%;
	display: table;
  text-align: center;
  margin: auto;
  background-color: white;
  margin-top: 30px;
  padding-top: 20px;
  border: 1px dotted gray;
}

#closeButton {
  display: table;
  margin: 0px auto 20px auto;
  padding: 10px 10px 10px 10px;
  font-size: large;
  border: 1px solid black;
}

#battleWinnerLabel {
	font-size: large;
}

#battleWinner {
	font-size: large;
	font-weight: bold;
}

#player1Name {
	float: left;
	display: table;
	margin-left: 30px;
  font-size: x-large;
}

#player2Name {
	float: right;
	display: table;
  margin-right: 30px;
  font-size: x-large;
}

#map {
	position: relative;
	display: table;
	width: 600px;
	height: 300px;
	margin: 30px auto 20px auto;
	background-color: #473;
}

#replayInfo {
  position: relative;
  display: table;
  width: 600px;
  height: 50px;
  margin: 0px auto 0px auto;
}

.battleUnit {
	position: absolute;
	width: 5%;
	height: 10%;
}

.battleUnitCount {
    position: absolute;
    font-weight: bold;
    font-size: large;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    -1px 0px 0 #000,
    1px -1px 0 #000,
    1px 0px 0 #000,
    -1px 1px 0 #000,
    0px 1px 0 #000,
    1px 1px 0 #000,
    0px -1px 0 #000;
    z-index: 4;
}

#clickToReplay {
	visibility: visible;
	left: 10px;
	top: 20px;
}