#greet {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	visibility: visible;
	background-color: white;
	z-index: 15;
}

#greetContent {
	display: table;
	text-align: center;
	margin: auto;
}

#statsTable {
	border: 0px;
	margin-bottom: 30px;
}

.statsLabel {
	padding-right: 50px;
	text-align: left;
}

.statsValue {
	text-align: right;
}

#startButton {
	display: table;
	margin: 0px auto 20px auto;
	padding: 10px 10px 10px 10px;
	font-size: large;
}

.sDisabled {
	color: gray;
	border: 1px dotted gray;
}

.sEnabled {
	color: black;
  border: 1px solid black;
}